.hero__categories ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.hero__categories ul.expanded {
    max-height: 500px; /* Thiết lập chiều cao tối đa khi mở rộng */
}

.price-section {
    transition: margin-top 0.3s ease;
}


/* Login - Forgot password */
.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
}


/* Xử lý ảnh của giỏ hàng */
.shoping__cart__item img {
    max-width: 100px; /* Chiều rộng tối đa */
    height: auto;     /* Tự điều chỉnh chiều cao theo tỷ lệ */
    display: block;   /* Đảm bảo ảnh không bị giãn */
    margin: 0 auto;   /* Căn giữa */
}

/* Xử lý order */
.order_item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: end
}

.order_item img {
    margin-right: 10px;
}

.order_item span {
    flex: 1;
}

.checkout__order__products,
.checkout__order__subtotal,
.checkout__order__total {
    font-weight: bold;
}



/* Xử lý order_details.php */
.order-summary {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
    font-weight: 600;
    color: #333;
}

.order-summary table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.order-summary th,
.order-summary td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.order-summary th {
    background: #343a40;
    color: #fff;
}

.order-summary td {
    font-size: 16px;
}

.order-summary .total-row {
    font-weight: 600;
    color: #007bff;
}

.order-summary .btn-back {
    margin-top: 20px;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.order-summary .btn-back:hover {
    background: #0056b3;
    color: #fff;
}
